.not-displayed {
  display: none;
}

// TABLES
table a.btn, .table a.btn {
  text-decoration: none;
}

// ERRORS
// #error_explanation is used by Devise
.error-messages, #error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    margin-top: 0;
  }
}
