.not-displayed {
  display: none;
}

// TABLES
table a.btn, .table a.btn {
  text-decoration: none;
}

// ERRORS
// #error_explanation is used by Devise
.error-messages, #error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    margin-top: 0;
  }
}

// New Reservation button on navbar
.navbar-default .navbar-nav > li.new-reservation {
  background-color: darken($brand-success, 10);
  a:hover {
    color: darken($brand-primary, 5);
  }
}
